html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.container {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-column: 1;
  grid-row: 1;
}

.container > div {
  border: 1px solid red;
}

.header {
  grid-row: 1 / span 1;
}

.main {
  grid-row: 2 / span 1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 10px 10px 10px;
  gap: 10px;
}

.footer {
  grid-row: 3 / span 1;
}

.card {
  height: 300px;
  width: 250px;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr) repeat(2, 0.5fr);
  justify-items: center;
}

.card > .title {
  font-size: 32px;
}

.card > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 0;
}

.card-is-read {
  width: 70px;
  height: 40px;
}

.remove-book {
  width: 70px;
  height: 30px;
  justify-self: end;
  align-self: center;
}

.left,
.right {
  height: 50px;
  width: 50px;
  align-self: center;
  justify-self: center;
}

/* modal */
.modal {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr) 2fr;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 500px;
  width: 500px;
  grid-column: 1;
  grid-row: 1;
}

label,
input {
  grid-column: 1 / span 2;
  align-self: center;
  justify-self: center;
}

input {
  margin-bottom: 20px;
  height: 30px;
  width: 400px;
}

label {
  font-size: 24px;
  align-self: end;
}

.form-read,
.label-read {
  grid-row: 7;
}

.form-read {
  grid-column: 1;
  margin: 0 30px 0 0;
  width: 30px;
  height: 30px;
  justify-self: end;
  align-self: end;
}

.form-cancel,
.form-submit {
  height: 50px;
  width: 100px;
  grid-row: 8;
  justify-self: start;
  align-self: center;
}

.form-cancel {
  justify-self: end;
  margin-right: 10px;
}
/* modal */
@media (max-width: 700px), (max-height: 800px) {
  .container {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .modal {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
